body {
    background-image: url("./pictures/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.top {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    text-shadow: 0px 0px 10px #ffffff;
    text-align: center;
}

.timeDiv {
    position: relative;
    margin: 20%;
    margin-bottom: 11vw;
    perspective: 150px;
}

.perspDiv {
    transform: rotateX(30deg);
}

.timeP {
    font-size: 10vw;
    margin-bottom: 0px;
}

.dateP {
    margin-top: 0px;
    font-size: 2vw;
}

.nextRing {
    margin-right: 25vw;
    margin-left: 25vw;
    font-size: 5vw;
}

.settingsDiv {
    margin-top: 30%;
    margin-left: 3%;

    padding: 5px;

    max-width: 40%;
    height: 15vw;
    background: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    border-radius: 20px;
}

.settingsSchulmodusDiv {
    margin: 1vw;
    font-size: 2vw;
    text-shadow: 0px 0px 15px #ffffff;
}

.checkboxClassDiv {
    height: 10vw;
    width: 3vw;
    float: right;
    margin-right: 3vw;
    border: 10px, solid, red
}

.checkboxClass {
    height: 2vw;
    width: 2vw;
    box-shadow: 0px 0px 10px #ffffff;

}